*{
    font-family: "VT323", monospace;
  }
  

#jumbotron,
#jumbotron .col{
    background-color: #bcbcbc;
}

#jumbotron .btn > span{
    font-size: 1.5rem;

}


#jumbotron .title{
    font-size: 4rem;
}

/* GAME */

#game{
    background-color: #bcbcbc;
}

#game .comtainer{
    height: 1000px;
    padding: 40px;
}

#game .big-title{
    font-size: 5rem;
}

#game .square{
    width: 650px;
    height: 650px;
    border: 1px solid black;
}

#game .box{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    line-height: 64.83px;

}

.clicked{
    background-color: lightblue;
}

.notclicked{
    
    background-color: rgb(255, 255, 255, 0.5);
}
